@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #080a0e;
  background-size: 400% 400%;
  font-family: "Poppins";
  line-height: 1.5;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  background-color: #26a75b;
}

.nav__links a,
.cta,
.overlay__content a{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
}

.nav__links{
  list-style: none;
  display: flex;
}

.nav__links li{
  padding: 0px 30px;
  list-style-type: none;
}

.nav__links li a{
  display: flex;
  text-decoration: none;
  text-align: center;
  transition: color 0.2s ease 0s;
}

.nav__links li a:hover{
  border-bottom: #ffffff solid 2px;
}

.cta{
  padding: 9px 25px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover{
  background-color: #131313;
  color: #ffffff;
}

.menu{
  display: none;
}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #131313;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active{
  width: 100%;
}

.overlay__content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a{
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus{
  color: #0088a9;
}

.overlay .close{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px){
  .overlay a{
    font-size: 20px;
  }
  .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 899px){
  .nav__links,
  .cta{
    display: none;
    height: 40px;
  }
  .menu{
    display: initial;
  }
}

@media screen and (max-width: 420px){
  .logo {
    height: 30px;
    cursor: pointer;
  }
  .menu {
    display: initial;
    font-size: 14px;
    padding: 4px 11px;
    height: 25px;
    width: 60px;
  }
}

/* PART ACCUEIL */

.title{
  color: #17e76e;
  text-align: center;
  font-size: 7vw;
  word-spacing: 0;
  margin-top: 1em;
  font-family: "Poppins";
}

.subtitle{
  color: #ffffff;
  text-align: center;
  font-size: 1vw;
  margin-top: 0em;
  margin-bottom: 1em;
  font-family: "Poppins";
}

a:link{ 
 text-decoration:none;
} 

.container_discord{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
.join_discord{
  position: relative;
  display: flex;
  text-decoration:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 40px;
  width: 370px;
  font-weight: bold;
  background-color: #ffffff;
  font-size: 2em;
  text-decoration:none;
  color: #131313;
  border-radius: 50px;
  cursor: pointer;
  transition: 20ms;
  font-family: "Poppins";
}
.join_discord:hover {
  background-color: #242424;
  color: #ffffff;
}
.join_discord:hover{
  transform: translateY(4px);
}


/* Box */


.site-container {
  margin: 2rem auto;
  max-width: calc(100% - 80%);
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
}

.article-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article-card {
  background: white;
  border-radius: 20px;
  transition: 0.3s;
  height: 500px;
  width: 400px;
}

.article-card:hover {
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
}

.article-content {
  padding: 2rem;
}

.article-content .card-category {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #6b82a7;
  display: block;
  text-decoration: none;
}

.article-content .card-title {
  margin: 1rem 0;
  color: #22447b;
}

.article-content .card-except {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b82a7;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .site-container {
    max-width: 608px;
  }
  .article-card {
    display: grid;
    grid-template-rows: 220px 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .site-container {
    max-width: 1156px;
  }
}

/* Footer */

.footer{
  margin-top: 20em;
  padding: 40px 0;
  background-color: #06080a;
}

.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #cccccc;
}

.footer .social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #3f3f3f;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 0.9;
}

.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
  color: #cccccc;
}

.footer ul li a:hover{
  opacity: 1;
  color: #ffffff;
}

.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaaaaa
}