@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #080a0e;
    background-size: 400% 400%;
    position: relative;
    animation: change 8s ease-in-out infinite;
    font-family: "Poppins";
    line-height: 1.5;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    background-color: #131313;
  }
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
  }
  .nav__links {
    list-style: none;
    display: flex;
  }
  .nav__links li {
    padding: 0px 30px;
  }
  .nav__links li a {
    transition: color 0.2s ease 0s;
  }
  .nav__links li a:hover {
    border-bottom: #ffffff solid 2px;
  }
  .cta {
    padding: 9px 25px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  .cta:hover {
    background-color: #131313;
    color: #ffffff;
  }
  .menu {
    display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #131313;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  .overlay--active {
    width: 100%;
  }
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  @media only screen and (max-width: 899px) {
    .nav__links,
    .cta {
      display: none;
      height: 40px;
    }
    .menu {
      display: initial;
    }
  }
  @media screen and (max-width: 420px){
    .logo {
    height: 30px;
    cursor: pointer;
    }
  .menu {
    display: initial;
    font-size: 14px;
    padding: 4px 11px;
    height: 25px;
    width: 60px;
  }
}
/**</HEADER>**/


.h1_accueil{
    color: #63ecb3;
    text-align: center;
    font-size: 7vw;
    word-spacing: -5mm;
    margin-top: 1em;
    font-family: "Poppins";
}

.citation{
  color: #ffffff;
  text-align: center;
  font-size: 1vw;
  margin-top: 0em;
  margin-bottom: 1em;
  font-family: "Poppins";
}

a:link{ 
 text-decoration:none;
} 

.container_discord{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
.join_discord{
  position: relative;
  display: flex;
  text-decoration:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 40px;
  width: 370px;
  font-weight: bold;
  background-color: #ffffff;
  font-size: 2em;
  text-decoration:none;
  color: #131313;
  border-radius: 50px;
  cursor: pointer;
  transition: 20ms;
  font-family: "Poppins";
}
.join_discord:hover {
  background-color: #242424;
  color: #ffffff;
}
.join_discord:hover{
  transform: translateY(4px);
}


/* Box */

.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text";

  border-radius: 18px;
  background: rgb(19, 19, 19);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
}

.card-image {
  grid-area: image;
  background: url("img1.jpg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}

.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}

.card-text h2 {
  margin-top:0px;
  font-size:28px;
}

/* Footer */

.footer{
  padding: 40px 0;
  background-color: #ffffff;
}

.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

.footer .social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #cccccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 0.9;
}

.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover{
  opacity: 1;
}

.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaaaaa
}